.wisp-main {
	--theme: #f5bd00;
	--theme-light: #ffe799;
	--color: #000;
	--alert: #800000;
	--lighter: #333;
	--link: rgb(0, 82, 204);
	--bg-darker: #ebebeb;
	--bg-blue: #e5f0fa;
	--bg-purple: #f4e2fd;
	--bg-green: #e4fbe4;
	--bg-orange: #fcf3e3;
	--bg-yellow: #fbfbe4;
	--border-color: #666;
	--semi-transparent: #fffffff2;
}

.wisp-main a,
.wisp-main a:visited {
	color: var(--link);
}

.wisp-main * {
	box-sizing: border-box;
}
